.c2{
    color: green;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /*ví dụ về backgruond*/
    /*background-color: bisque;*/
    /*background-image: url(".idea/ảnhcss/CHUOI-MEDIA-2538.JPG");*/
    /*background-size: cover;*/
}
p{
    font-size: 15px; /*cỡ chữ*/
    margin: 15px 0px; /*khoảng cách <p> trên và <p> đang chỉnh*/

}
.c3{
    margin: 5px 0px 0px; /*khoảng cách <p> trên và <p> đang chỉnh*/
    padding: 0px 0px 5px; /*khoảng cách <p> dưới và <p> đang chỉnh*/
    font-size: 13px;
    color: #999;
}
h1{
    font-size: 27px;
    margin-bottom: 16px;
}
h3{
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6; /*khoảng cách giữa các dòng trong <p> đang chỉnh*/
    margin: 10px 0px;
}
#q1{

    font-weight: 400;
    font-size: 13px;
}
#q2{
    font-size: 14px
    font-style: italic;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#q3{
    color: #757575;
    font-size: 13px;
}
#q4{
    font-size: 17px;
    padding-top: 5px;
    text-align: right;
}
#q5{
    text-align: center;
}