.bg-fade{
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../images/cd514331234507.564a1d2324e4e.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fdfdfe;
    opacity: 50%;
    display: none;
}